@charset "uft-8";
/* 본문1- 네비게이션 */
#gnb_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.gnb{
    margin-bottom: 30px;
    padding-top: 12px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#gnb_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.gnb ul{
    display: flex;
    justify-content: center;
}
.gnb li{
    position: relative;
    margin-left: 20px;
    padding-right: 50px;
}
.gnb li a{
    font-size: 15px;
    font-weight: 500;
    color: #777;
}
.gnb li a:hover{
    color: #009132;
    border-bottom: 4px solid #009132;
    padding-bottom: 16px;
}
.gnb li::after{
    content: "";
    position: absolute;
    top: 7px;
    right: 12px;
    display: block;
    width: 5px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 999px;
}
.gnb li:last-child::after{
    display: none;
}
/* 본문2 - 타이틀 */
.franchise_title{
    text-align: center;
}
.franchise_title .title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}
.franchise_title .title_eng{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7em;
    margin-bottom: 50px;
}
/* 본문3 호버 배너 */
.h_bn{
    overflow: hidden;
}
.h_bn_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.h_bn_content{
    display: flex;
    justify-content: center;
}
.h_bn_left,.h_bn_right{
    position: relative;
    width: 720px;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}
.h_bn_left::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 960px;
    height: 100%;
    background-image: url(../img/bg_nation.jpg);
    display: none;
}
.h_bn_left:hover:before{
    display: block;
}
.h_bn_right::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 100%;
    background-image: url(../img/bg_store.jpg);
    display: none;
}
.h_bn_right:hover:before{
    display: block;
}
.bn_txt_left, .bn_txt_right{
    position: relative;
}
.bn_txt_left:hover .bn_txt_t,.bn_txt_right:hover .bn_txt_t{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.bn_txt_left:hover .bn_txt_b,.bn_txt_right:hover .bn_txt_b{
    color: #fff;
}
.bn_txt_t{
    display: inline-block;
    font-size: 27px;
    margin-bottom: 60px;
    line-height: 1.5em;
    border-bottom: 1px solid black;
}
.bn_txt_b{
    font-size: 30px;
    font-weight: 500;
}
.bn_txt_b .bn_num{
    font-size: 70px;
    font-weight: 700;
}
/* 본문4 - 경쟁력 */
.id_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.id_title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.id_first, .id_second{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.id_left ul, .id_right ul{
    display: flex;
    align-items: center;
}
.id_photo{
    margin-bottom: 20px;
}
.id_box{
    width: 170px;
    height: 100px;
    margin-top: -125px;
    margin-right: 20px;
    padding-top: 50px;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2em;
    text-align: center;
    color: #009132;
    background-color: #ffc30d;
}
.id_text{
    font-size: 15px;
    color: #333;
    line-height: 1.4em;
}
/* 본문5 - 가맹점 개설 절차 */
.store_bg{
    background-image: url(../img/bg_franchise_process.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 60px;
}
.store_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}
.store_in .store_title{
    margin-bottom: 20px;
}
.store_in .title_b{
    font-weight: 500;
    margin-bottom: 100px;
}
.store_step ul{
    display: flex;
    justify-content: center;
}
.store_step li{
    position: relative;
    width: 154px;
    margin-right: 40px;
    margin-left: 40px;
}
.store_step li::before{
    content: "";
    display: block;
    position: absolute;
    right: -45px;
    top: 25px;
    width: 6px;
    height: 11px;
    background-image: url(../img/icon_arr_r02.png);
}
.store_step li:last-child::before{
    display: none;
}
.store_step li::after{
    content: "";
    display: block;
    position: absolute;
    top: -55px;
    left: -10px;
    width: 170px;
    height: 170px;
    border: 4px solid #ffbd3c;
    border-radius: 999px;
}
.store_step .step_list_g::after{
    border: 4px solid #009132
}
.step_num{
    font-size: 11px;
    font-weight: 500;
    color: #ffbd3c;
}
.step_num_g{
    font-size: 11px;
    font-weight: 500;
    color: #62ce11;
}
.step_title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 120px;
}
.step_intro{
    margin-bottom: 30px;
}
.step_cau{
    text-align: left;
    margin-left: 170px;
    font-size: 12px;
    color: #999;
}
/* 본문6 - 예상비용 */
.cost_in{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.cost_top .cost_title{
    text-align: center;
    font-size: 27px;
}
.cost_top .vat{
    font-size: 12px;
    color: #666;
    text-align: right;
    margin-right: 140px;
    margin-bottom: 10px;
}
.cost_table{
    margin-bottom: 10px;
}
.cost_table table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: left;
}
.cost_table th, .cost_table td{
    font-size: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 60px;
  }
.table_caption{
    line-height: 2em;
    border-top: 3px solid #009132;
    border-bottom: 2px solid #009132;
}
.table_caption .center{
    text-align: center;
}
.cost_table .point{
    font-weight: 600;
    background-color: #f6f6f6;
}
.table_cau{
    margin-left: 10px;
    font-size: 12px;
    color: #555;
    margin-bottom: 50px;
}
.qa{
    display: flex;
    justify-content: center;
}
.franchise_qa a{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    font-weight: 600;
    line-height: 3em;
    color: #fff;
    background-color: #009132;
    border-radius: 999px;
}
.franchise_qa a::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    transform: rotate(45deg);
    border-top: 3px solid #ffbd3c;
    border-right: 3px solid #ffbd3c;
}
